<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${user.getName() + ' ' + user.getSurname() + ', ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<!--Current user: id:-->
<!--<a th:text="${user.getId()}">VALUE</a>-->
<!--<a th:text="${user.getName()}">VALUE</a>-->
<!--<a th:text="${user.getSurname()}">VALUE</a>-->
<!--<a th:text="${user.getAge()()}">VALUE</a>-->
<!--<a th:text="${user.getEmail()}">VALUE</a>-->
<!--<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit user</a>-->
<!--<a href="/users">All users</a>-->
<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete user">-->
<!--</form>-->

</body>
</html>